@import url("https://fonts.googleapis.com/css2?family=Jost:wght@500;700&family=Montserrat:wght@300;400;500;700&family=Open+Sans&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@500;700&family=Montserrat:wght@300;400;500;700&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Roboto:wght@500&display=swap");

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    height: 60px;
    padding: 8.5px 20px;
    align-items: center;
    justify-content: space-between;
}

header>h2 {
    color: var(--bs-dark, #212529);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
    margin: 0;
}

header:hover {
    transform: translateY(-4px);
    transition: transform 0.3s ease-in-out;
}

#hero {
    display: flex;
    height: 760px;
    padding: 153px 83px 81px 82px;
    justify-content: center;
    align-items: center;
    background-color: #37517E;
}

.hero-section {
    display: flex;
    width: 1275px;
    height: 526px;
}


.container1 {
    width: 615px;
    height: 527px;
    flex-shrink: 0;
    padding: 114px 0px 121px 0px;
}

.container2 {
    width: 636px;
    height: 527px;
    flex-shrink: 0;
}

.container1>h1,
p {
    margin-top: 0;
    margin-bottom: 0;
}

.container1>h1 {
    display: flex;
    width: 561.419px;
    height: 125px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-family: Jost;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
}

.container1>p {
    display: flex;
    width: 594.638px;
    height: 63.797px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: rgba(255, 255, 255, 0.60);
    font-family: Jost;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28.8px;
}

.btn-hero {
    display: inline-flex;
    padding: 10px 330.656px 0px 0px;
    align-items: flex-start;
    gap: 25px;
    margin-top: 47.8px;
}

.btn1 {
    background-color: #47b2e4;
    display: flex;
    padding: 9px 28.359px 12px 28px;
    align-items: flex-start;
    border-radius: 50px;
    border: 0;
    background: #47B2E4;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn1:hover {
    background-color: #FFF;
}

.btn1>a:hover {
    color: #47B2E4;
}

.btn1>a {
    width: 91px;
    height: 24px;
    color: #FFF;
    font-family: Jost;
    font-size: 16px;
}

.btn2 {
    background-color: #47b2e4;
    display: flex;
    padding: 9px 28.359px 12px 28px;
    align-items: flex-start;
    border-radius: 50px;
    border: 0;
    background: transparent;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn2:hover {
    background-color: #47B2E4;
}

.btn2>a {
    width: 91px;
    height: 24px;
    color: #FFF;
    font-family: Jost;
    font-size: 16px;
}

#join {
    background-color: #faf3f3;
    display: flex;
    padding: 50px 426px;
    align-items: flex-start;
}

.join-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 139px;
    max-width: 680px;
    padding: 0;
    text-align: justify;
}

.join-section>h2 {
    display: flex;
    height: 35px;
    width: 230px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin: 0px 0px 8px 0px;
    /* typography */
    color: #37517E;
    text-align: center;
    font-family: Jost;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.join-section>p {
    display: flex;
    width: 522.481px;
    height: 20px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin: 8px 0px 15px 0px;
    /* typography */
    color: #444;
    text-align: center;
    font-family: Open Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.5px;
}

.subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    background-color: white;
    border-radius: 50px;
    width: 636px;
    height: 42.5px;
}

.form-subs {
    width: 516px;
    height: 30.5px;
    background-color: transparent;
    border: 0;
    outline: none;
    text-align: center;
}

.btn-subs {
    display: flex;
    padding: 9.25px 20.016px 9.25px 19px;
    align-items: flex-start;
    width: 113.02px;
    height: 42.5px;
    border-radius: 50px;
    border: 0;
    background: #47B2E4;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.10);
    /* typography */
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-subs:hover {
    background-color: #FFF;
    border: 1px solid;
    border-color: #47B2E4;
    color: #47B2E4;
}

#footer {
    display: flex;
    width: auto;
    padding: 60px 80px 30px 80px;
    align-items: flex-start;
    background: #FFF;
}

.footer-section {
    display: flex;
    padding-bottom: 0px;
    align-items: flex-start;
    gap: 8px;
}

.arsha {
    display: flex;
    padding: 0px 154.019px 35.188px 12px;
    flex-direction: column;
    align-items: flex-start;
}

.arsha>h2 {
    display: flex;
    width: 95.606px;
    height: auto;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    /* typography */
    color: #37517E;
    font-family: Jost;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    text-transform: uppercase;
}

.arsha>address {
    display: flex;
    width: 170px;
    height: 140px;
    flex-direction: column;
    justify-content: center;
    color: #5E5E5E;
    font-family: Jost;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
}

.useful-links {
    display: flex;
    padding: 0px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 18.188px;
}

.useful-links>h2 {
    display: flex;
    width: auto;
    height: 23px;
    flex-direction: column;
    justify-content: center;
    color: #37517E;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.2px;
    margin: 0px;
}

.services {
    display: flex;
    padding: 0px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 18.188px;
}

.services>h2 {
    display: flex;
    width: auto;
    height: 23px;
    flex-direction: column;
    justify-content: center;
    color: #37517E;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.2px;
    margin: 0px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    margin: 0;
}

li {
    display: flex;
    width: 306px;
    height: 38px;
    padding-right: 0px;
    align-items: flex-start;
    /* typography */
    color: #777;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    /* 100% */
}

.social-network {
    width: 290px;
    height: 219px;
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.social-network>h2 {
    display: flex;
    width: auto;
    height: 23px;
    flex-direction: column;
    justify-content: center;
    color: #37517E;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.2px;
    margin: 0px;
}

.social-network>p {
    display: flex;
    width: 278px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #444;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    /* 150% */
}

.circle {
    height: 36px;
    width: 36px;
    background-color: #47B2E4;
    border-radius: 50%;
    display: inline-block;
}

#copyright {
    height: 80px;
    background-color: #37517E;
    display: flex;
    gap: 600px;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

.copyright1 .copyright2 {
    margin: 0;
    padding: 0;
}

.copyright1>p {
    color: white;
    font-family: 'Open Sans';
    font-size: 12px;
}

.copyright2>p {
    color: white;
    font-family: 'Open Sans';
    font-size: 12px;
}

.copyright2>p>span {
    color: #47B2E4;
}


