/* Import font Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@500;700&family=Montserrat:wght@300;400;500;700&family=Open+Sans&family=Roboto:wght@300;400;500;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* navbar */
.navbar {
    background-image: linear-gradient(45deg, #f44f0b, #a32094);
}

.navbar-brand {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
}

a.nav-link.link-primary {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: #ffffff !important;
}

a.nav-link.link-primary:hover {
    color: black !important;
}

.navbar-togler-icon {
    color: #ffffff !important;
}
/* end navbar */

/* main-banner */
.banner {
    background-image: url(assets/banner.png);
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 20%;
    color: #ffffff;
    height: 100vh;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 55px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
}

.description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    padding: 10px;
    border-radius: 10px;
}

.btn {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* end main-banner */

/* contact-section */
.contact-section {
    background-image: url(assets/contact-us-bg.png);
    background-size: cover;
}

.contact-us {
    margin-right: 220px;
}

.contact-us>h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
}

.contact-us>p {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
}

.contact-us>p>a {
    color: black;
}

label {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
}

.btn-primary {
    background-color: #6A3373;
    border: none;
}

.form-control {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* end contact-section */

/* footer */
footer {
    background-color: #6A3373;
}

h3 {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
    display: flex;
}

h5 {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

/* end footer */